* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: rgb(242, 235, 220);
    font-family:'Redaction';
    font-size: 19px;
    line-height: 21px;
    /* overflow: hidden; */
}

body.unlocked {
    overflow: auto; /* allow scroll */
  }

body.dark-mode {
    background-color: black;
    color: rgb(242, 235, 220);
}

img, video{
    width: 100%;
    display:block
}

@font-face {
    font-family:'Redaction';
    src:url(fonts/redaction-regular.woff) format('woff');
}

@font-face {
    font-family: 'Redaction20';
    src:url(fonts/redaction20-regular.woff) format('woff');
}

@font-face {
    font-family: 'Redaction50';
    src:url(font/redaction50-regular.woff) format('woff');
}

@font-face {
    font-family: 'Redaction70';
    src:url(font/redaction70-regular.woff) format('woff')
;}

@font-face{
    font-family:'CirrusCumulus';
    src:url(fonts/cirruscumulus.woff) format('woff');
}

/* hero video */

div.herovideo{
    width:300px;
    position: fixed;
    bottom: 20px;
    right: 40px;
}

div.herovideo video{
    border-radius: 10px;
    /* border: 10px dotted rgb(235, 245, 41); */
}

/* typography */
.redaction20 {
    font-family:'Redaction20';
}

div.titletext {
    font-size: 400px;
    line-height: 400px;
    font-family: 'CirrusCumulus';
}

div.titlecaption {
    font-size:32px;
    line-height: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

div.subtitle {
    font-size: 40px;
    line-height:40px;
    font-style:italic;
}

div.largetext {
    font-size: 100px;
    line-height: 100px;
}

div.mediumtext {
    font-size:28px;
    line-height: 32px;
}

div.smalltext {
    font-size: 20px;
    line-height: 20px;
}

div.stretchtexthalf{
    display:inline-block;
    transform: scaleX(0.5);
}

div.textcenter{
    text-align:center;
}

div.textjustifylast{
    text-align-last:justify;
}

div.textjustify{
    text-align:justify;
    text-align-last: justify;
}

div.textindent{
    text-indent: 100px;
}

div.stretchtext{
    display:inline-block;
    transform: scaleX(0.7);
}

div.alignright{
    text-align: right;
}

div.aligncenter{
    text-align: center;
}

em{
    font-style:italic;
    text-decoration: underline;
    background-color: rgb(235, 245, 41);
}

span.invis{
    opacity:0%
}

/* margins */

div.mtneg32point2{
    margin-top:-32.2px;
}

div.mt50 {
    margin-top:50px;
}

div.mt100 {
    margin-top:100px;
}

div.mt200 {
    margin-top:200px;
}

div.mt300{
    margin-top:300px;
}

div.mt350{
    margin-top:350px;
}

div.mt400 {
    margin-top:400px;
}

div.mt500 {
    margin-top:500px;
}

div.mt700{
    margin-top:700px;
}

div.mt800{
    margin-top:800px;
}

div.negmt350{
    margin-top:-350px;
}

div.mb50 {
    margin-bottom:50px;
}

div.mb100 {
    margin-bottom:100px;
}

div.mb200 {
    margin-bottom:200px;
}

div.mb300{
    margin-bottom:300px;
}

div.mb400{
    margin-bottom:400px;
}

div.mb500{
    margin-bottom: 500px;
}

div.mb700{
    margin-bottom: 700px;
}

div.ml3pc{
    margin-left:3%;
}

div.ml10pc{
    margin-left:10%;
}

div.ml20pc{
    margin-left:20%;
}

div.ml30pc{
    margin-left:30%;
}

div.ml40pc{
    margin-left:40%;
}

div.ml50pc{
    margin-left:50%;
}

div.ml60pc{
    margin-left:60%;
}

div.mlauto{
    margin-left:auto;
}

div.mrauto{
    margin-right:auto;
}

div.mr50{
    margin-right:50px;
}

/* padding */

div.pad20{
    padding: 20px;
}

/* colours */

div.text-yellow{
    color:rgb(235, 245, 41);
}

div.text-beige{
    color:rgb(242, 235, 220);
}

div.text-black{
    color:black;
}

div.swatch{
    position: sticky;
    width: 30%;
    height: 100px;
    top: 0;
    left: 0;
    background-color:rgb(242, 235, 220);
    z-index: -1;
}

div.bg-yellow {
    background-color:rgb(235, 245, 41);
}

div.bg-black {
    background-color:rgb(0, 0, 0);
}

div.bg-beige {
    background-color: rgb(242, 235, 220);
}

div.border-black {
    overflow: hidden;
    border: 5px dotted rgb(0, 0, 0);
    padding: 50px
    /* box-shadow: 10px 15px 5px black; */
}

div.border-highlight {
    overflow: hidden;
    border: 5px dotted rgb(0, 0, 0);
    background-color: rgb(235, 245, 41);
    padding: 50px
}

div.border-dotted {
    border: 10px dotted rgb(235, 245, 41);
}

/* layout */

div.overlay {
    position: absolute;
    z-index: 2;
}

div.underlay{
    position: absolute;
    z-index: -1;
}

div.fullscreen-opaque {
    width:100vw;
    height:100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(242, 235, 220);  
    z-index: 999; 
}

div.fullscreen-opaque.dark-mode {
    width:100vw;
    height:100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;  
    color: rgb(242, 235, 220);
    z-index: 999; 
}

div.fullscreen {
    width:100vw;
    height:100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.vw100{
    width: 100vw;
}

div.width100{
    width:100%;
}

div.width80{
    width:80%;
}

div.width60{
    width:60%;
}

div.width40{
    width:40%;
}

div.width30{
    width:30%;
}

div.width25{
    width:25%;
}

div.width20{
    width:20%;
}

div.width15{
    width:15%;
}

div.width10{
    width:10%;
}

div.container{
    display:flex;
    flex-wrap:wrap;
}

div.flexend{
    justify-content:flex-end;
}

div.flexcenter{
    justify-content: center;
}

div.flexbetween{
    justify-content: space-between;
}

div.alignstart{
    align-items: flex-start;
}

div.overlay{
    position:absolute;
}

div.caption{
    position: absolute;
    top: 50%;
    left: 50%;
}

div.center{
  margin: auto;
}

div.justifycenter{
    justify-content: center;
}

div.absolute{
    position:absolute
}

/* folio marks */

div.folio-df{
    position:fixed;
    top:20px;
    width:100%;
}

div.folio-wif{
    position:fixed;
    top: 20px;
    left: 3%;
    width: 100%;
    z-index: -10;
}

/* splash screen */

.welcome {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: rgb(235, 245, 41);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
  }
  
  .welcome.visible {
    display: flex;
    flex-wrap: wrap;
  }

/* sticky word */

div.sticky-is {
    position: sticky;
    top: 300px;
}

div.sticky-friction1 {
    position:sticky;
    top: 190px;
}

div.sticky-friction2 {
    position:sticky;
    top: 400px;
}

div.sticky-container {
    height: 600px; /* Limit the scroll area */
    overflow: hidden;
    position: relative;
}

div.sticky-LOF {
    position: sticky;
    top: 3%;
}

/* humans, humans, things */

.humanshumansthings{
    position: fixed;
    display: none;
}

.humans1{
    top: 15%;
    left: 10%;
}

.humans2{
    top: 38%;
    left: 28%;
}

.things{
    top: 50%;
    left: 55%;
}


/****
abandoned hover image code

.floating-image {
    position: fixed;
    top: 40%;
    left: 30%;
    width: 400px;
    display: none;
    pointer-events: none ;
    cursor: pointer;
  }

.hover-text:hover + .floating-image {
    display: block;
}
/****

/* proposal */

div.proposaltitle {
    display:inline-block;
    font-size: 50vw;
    line-height: 1500px;
    transform: scaleX(0.3);
}

div.proposalscreen {
    width:100vw;
    height:100vh;
}

/* svgs */

.filter-yellow{
    filter: brightness(0) saturate(100%) invert(82%) sepia(95%) saturate(436%) hue-rotate(11deg) brightness(113%) contrast(92%);
}

/* triggers and effects */

div.hidden{
    display: none;
}

div.show{
    display: block;
}

div.underline{
    text-decoration: underline;
}

.horsevideo {
    width: 35%;
    height: auto;
  }

/* debug */
div.debug{
    background-color: blue;
}
